:root {
  --ocean: #1fb58f;
  --sand: #eab125;
  --cocktail: #f24c4e;
  --palm: #1b7b34;
}
.homePage {
  height: 40px;
  width: auto;
}
.navContainer {
  /* border: 2px;
  width: 45vh;
  right: 400px; */
  position: absolute;
  top: 30px;
  right: 3.5%;
  height: 400px;
  width: 300px;
  text-align: right;
  z-index: 100;
}
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: left;
}

.projects {
  color: var(--palm);
}
.experience {
  color: var(--ocean);
}

.aboutme {
  color: var(--cocktail);
}
