.ogBackGround {
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.container {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: solid 10px var(--palm);

  /* padding: 0.5rem;
  height: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.03);
  border-radius: 4px; */

  font-family: "Lucida Console", Monaco, monospace;

  /* border: 3px solid black; */
}
/* .text {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
} */

.picture {
  display: flex;
  height: 270px;
  width: auto;
}
