:root {
  --ocean: #1fb58f;
  --sand: #eab125;
  --cocktail: #f24c4e;
  --palm: #1b7b34;
}

.imgContainter {
  border: solid 50px var(--cocktail);
  width: 90vh;
  height: 80vh;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px 5px var(--ocean);
}

.homeImg {
  position: absolute;
  width: 90vh;
  height: 80vh;
  box-shadow: 5px 5px 5px 5px white;
}

h2 {
  color: var(--sand);
}
.title {
  position: absolute;
  color: var(--palm);
  top: 100px;
  right: 5.5%;
  height: 400px;
  width: 369px;
  text-align: right;
  text-decoration: underline;
}
.titlesTextBox {
  position: absolute;
  top: 160px;
  right: 5.5%;
  height: 400px;
  width: 369px;
  text-align: right;
}

h3 {
  color: var(--ocean);
  font-weight: 400;
}

h3:hover {
  color: var(--cocktail);
  font: bold;
}
p:hover {
  color: var(--cocktail);
}
.homeMobImg {
  position: relative;
  height: 350px;
  width: 100%;
  top: 400px;
  overflow: hidden;
}

.homeIpadImg {
  position: relative;
  top: 500px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
