:root {
  --ocean: #1fb58f;
  --sand: #eab125;
  --cocktail: #f24c4e;
  --palm: #1b7b34;
}

@font-face {
  font-family: 'mont';
  src: local('mont'), ur('./font/Mont-Heavy.otf'), format('truetype');
}

@font-face {
  font-family: 'mont-light';
  src: local('mont-light'), ur('./font/Mont-Light.otf'), format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'mont', 'mont-light', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--blue); */
  font-family: "mont";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, 'mont', 'mont-light', ;
}