$ocean: #1fb58f;
  $sand: #eab125;
  $cocktail: #f24c4e;
  $palm: #1b7b34;
  $cAccent: #3978ef;
@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == mlg {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == llg {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}
