:root {
  $ocean: #1fb58f;
  $sand: #eab125;
  --cocktail: #f24c4e;
  --palm: #1b7b34;
}
.body-projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: -100;
}
.tech {
  display: flex;
  flex-direction: column;
}
.icons {
  position: absolute;
  height: 300px;

  bottom: 300px;
  left: 850px;
}
.top {
  display: flex;
}
.title2 {
  position: relative;
  left: 300px;
}
.imgContainer {
  position: relative;
  left: 40px;
  top: 100px;
  /* border: solid 50px var(--cocktail);
  width: 90vh;
  height: 80vh;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px 5px var(--ocean); */
}
.laptop {
  width: 90vh;
  height: 55vh;
  background: #fc9252;
  border: 12px solid var(--cocktail);
  border-radius: 10px 10px 0 0;
  left: 50px;
  position: relative;
  z-index: 1;
}

.btm {
  position: relative;
  width: 100vh;
  height: 25px;
  top: -7px;
  left: 20px;

  border-radius: 0 0 20px 20px;
  background: #f76062;
  z-index: 2;
}
.btm:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 6px;
  left: 350px;
  top: 200;

  border-radius: 0 0 5px 5px;
  background: lightgray;
}
.spot {
  position: relative;
  top: 10px;
  left: 390px;
  width: 7px;
  height: 7px;
  border-radius: 60px;
  background: #c1cadd;
  z-index: 100;
}

.shadow {
  position: relative;
  width: 140vh;
  height: 35px;
  right: 140px;
  z-index: 1;
  bottom: 20px;
  background: radial-gradient(
    ellipse at center,
    rgb(186, 189, 188) 0%,
    rgb(193, 197, 195) 53%,
    rgb(207, 211, 211) 55%,
    rgba(46, 204, 113, 0) 55%,
    rgba(46, 204, 113, 0) 100%
  );
}
.homeImg {
  position: absolute;
  width: 90vh;
  height: 80vh;
  box-shadow: 5px 5px 5px 5px white;
}
.descriptionTitle {
  position: relative;
  left: 100px;
  max-width: 1000px;
  color: var(--palm);
}
.description {
  position: relative;
  left: 100px;
  max-width: 1000px;
  font-size: 100%;
}

.projects-h2 {
  color: var(--sand);
}
.projects-title {
  position: absolute;
  color: var(--palm);
  top: 100px;
  right: 5.5%;
  height: 400px;
  width: 369px;
  text-align: right;
  text-decoration: underline;
}
.titlesTextBox {
  position: absolute;
  top: 160px;
  right: 5.5%;
  height: 400px;
  width: 369px;
  text-align: right;
  z-index: 101;
  font-size: 20px;
}
.titlesTextBox :hover {
  color: var(--palm);
  font-size: 28px;
  // text-decoration: underline;
  cursor: pointer;
}

.projects-h3 {
  color: var(--ocean);
  font-weight: 400;
}

.projects-h3:hover {
  color: var(--cocktail);
  font: bold;
}
.projects-p:hover {
  color: var(--cocktail);
}
.homeMobImg {
  position: relative;
  height: 350px;
  width: 100%;
  top: 400px;
  overflow: hidden;
}

.homeIpadImg {
  position: relative;
  top: 500px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
@media (min-width: 600px) {
}
