:root {
  --ocean: #1fb58f;
  --sand: #eab125;
  --cocktail: #f24c4e;
  --palm: #1b7b34;
}
.nav {
  top: -50px;
}
.experience {
  text-decoration: underline;
  text-indent: 40px;
}
.work {
  text-indent: 60px;
}

.txt {
  text-indent: 90px;
}
.screen {
  height: 90vh;
  position: relative;
  background: var(--sand);
  border: 20px solid #474e5d;
  border-radius: 10px;
}
.content:before {
  content: "";
  position: absolute;
  right: -90px;
  width: 200px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 5;
}
.pg {
  width: 940px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 55%;
  margin: -280px 0 0 -60vh;
  background: #ffffff;
  border: 1px solid #f4f5f7;
  border-top: 20px solid #f4f5f7;
  border-radius: 5px;
  box-shadow: 5px 5px 0px 5px #e0625e;
}

.btns > li {
  display: inline-block;
  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fc5254;
  margin-right: 4px;
}

.title {
  color: var(--palm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-color: aliceblue;
}
.box {
  border: 2px solid grey;
  margin: 100px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.image {
  height: 50vh;
}

.h1 {
  margin: 100px;
}
